.card {
  border-radius: 0 0 12px 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}

.cardAnimation {
  top: 0;
  transition: all ease 0.3s;
}

.cardAnimation:hover {
  top: -5px;
  box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.25);
}
