.dialogContent {
  display: flex;
  column-gap: 2rem;
  padding-top: 1.5rem !important;
  padding-bottom: 0.5rem;
}

.dialogActions {
  padding: 0.5rem 1.5rem 1rem;
}

.inputFields {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.imageField {
  flex: 1;
}
