.collection {
  /* width: auto; */
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: center;
  cursor: pointer;
  color: black;
}

.collection p {
  padding: 1rem;
  font-weight: 600;
}

.link {
  text-decoration: none;
}

.actions {
  display: flex;
  /* justify-content: center; */
  padding: 1rem;
  gap: 1rem;
}

/* .card:hover,
.card:hover * {
  background-color: #85aa7c;
  color: white;
} */
