.image {
  margin: 0 1rem;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  max-height: 70vh;
}

.infoArea {
  text-align: center;
  margin: 2rem;
}

.mediaListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.7rem 0.5rem;
  justify-content: center;
}

.mediaCard {
  cursor: pointer;
  border-radius: 12px;
  flex: 0 0 calc(33.3% - 1rem);
}
