.image {
  margin: 0 1rem;
  overflow: hidden;
  display: flex;
  max-height: 70vh;
}

.infoArea {
  align-items: center;
  margin: 2rem;
}

.mediaListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.7rem 0.5rem;
  justify-content: center;
}

.mediaCard {
  flex: 0 0 calc(33.3% - 1rem);
}

.actionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
