.outerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.innerContainer {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  z-index: 15;
}

.image {
  max-width: 90vw;
  max-height: 90vh;
}
