.header {
  background-color: #208049;
  padding: 0px 1rem;
  height: auto;
}

.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 1.777rem;
}

.header a:hover {
  color: #fd9801;
}
.header a:active,
.header a.active {
  color: #ffac31;
}

.homeLink {
  margin-right: auto;
  /* align-self: flex-start; */
}

.homeLink a {
  font-size: 3.157rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
