.collectionName {
  text-align: center;
}

.itemCard {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.itemArea {
  text-align: center;
}
.image {
  margin: auto;
}
